/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

/* End for testing */

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar {
  width: 100vw;
  height: 10vh;
  margin-bottom: 30px;
  background-color: tomato;
}

.gallery-item {
  width: 80vw;
  text-align: center;
  margin: 15px auto;
}

.gallery-item img {
  width: 100%;
  display: block;
  margin: auto;
}

@media only screen and (min-width: 600px) {

  

  .gallery-item {
    display: inline-block;
    width: 40vw;
    margin-left: 7vw;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    height: 15vh;
  }

  .gallery-item {
    width: 20vw;
    margin-left: 10vw;
  }
}
