/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

/* End for testing */

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
}

nav {
  width: 100vw;
  height: 3vh;
  margin-top: 20px;
}

nav a {
  color: black;
  background-color: grey;
  height: 100%;
  width: 22vw;
  text-align: center;
  /*padding-right: 20px;*/
  margin-right: 5px;
  padding: 5px 5px 5px;
  display: inline-block;
}

p {
  margin-top: -10px;
}

.logo {
  background-color: lightgreen;
  height: 3vh;
  width: 65px;
  margin-left: 40px;
}

.baby-circle {
  background: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  float:left;
}

.circle {
  background: black;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.content1, .content2, .content3 {
  height: 12vh;
  margin: 40px 0 40px;
  background-color: lightgreen;
  clear: right;
}

@media only screen and (min-width: 600px) {

  nav {
    float: right;
    width: 43vw;
  }

  nav a {
    color: black;
    background-color: grey;
    height: 100%;
    width: 10vw;
    text-align: center;
    margin: 0;
    padding: 5px 5px 5px;
    display: inline-block;
  }

  h1 {
    clear: right;
    width: 45vw;
  }

  p {
    display: inline-block;
    width: 60vw;
  }

  .lorum {
    width: 60vw;
    margin-top: 60px;
    margin-bottom: 90px;
    float: left;

  }

  .circle {
    float: right;
  }

  .logo {
    float: left;
    display: inline-block;
  }

  .header {
    /*display: inline;*/
    margin-bottom: 50px;
  }

  .header::after {
      content: "";
      display: block;
      clear: both;
  }

  .content1, .content2, .content3 {
    height: 12vh;
    width: 30vw;
    display: inline-block;
    margin: 40px 0 40px;
    background-color: lightgreen;
  }

  .content {
    clear: both;
  }

}
